body {
    direction: rtl;
    background: #111;
    color: #fff;
    text-align: center;
    font-family: Tahoma, Arial;
}
input, button {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}
#output img {
    max-width: 200px;
    margin: 10px;
    border: 2px solid #333;
}
.result-block {
    background: #222;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    width: 90%;
}
